/* your styles go here */
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 10px;
    background-color: #F00;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background: rgba(1,1,1,0.5)
}
a{
    text-decoration: none!important;
}
/*===============CSS NAV_TOP===================*/
.search_modal{
	text-align: center;
}

/*=============END CSS NAV_TOP=================*/
/*=============HOME==============*/
.img_home{
	padding: 20px 20px;
}
/*===============END HOME=============*/