/*============ADMIN_WEB_INFOR==================*/
a{
	text-decoration: none!important;
}

#web-company-info > .form-group > label{
	 /*font-family: 'Lato', sans-serif!important;*/
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 100!important;
}
.web-company-information{
	background: #f9f9f9;
    border: 1px solid #cdcdcd;
    clear: both;
    padding:0px 15px!important;
}
#web-company-info .form-group {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}
.set-lang-info {    
	height: 36px;
    border-bottom: 1px solid #e7e7e7;
    background: #efefef;
    line-height: 36px;
    padding-left: 20px;
}.set-lang-info > h3{    
	margin: 0px!important;
	line-height: 36px!important
}
.set-lang-info li{ 
	display: inline-block;
}
.set-lang-info li img{
	float: left; 
	margin: 10px 10px 0px 10px;
}
.set-lang-info li a{ 
	height: 37px; 
	line-height: 37px; 
	float: left; 
	padding: 0px 10px 0px 5px;
}
.set-lang-info li a:hover,.set-lang-info li a.active{ 
	background: #f9f9f9;
}
.valuelang_hidden{ 
	display: none;
}
.valuelang_hidden.active{ 
	display: block;
}


/*on-off*/
.codedaoToggle{
	border:1px solid #d4d4d4;
	background:#D33331;
	padding:1px;
	display:inline-block;
	width:52px;
	height:23px;
	position:relative;
	cursor:pointer;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}
.codedaoToggle:before{
	content:'OFF';
	position:absolute;
	top:10%;
	right:1%;
	color:#FFF;
	font-size:11px;
}
.codedaoToggle:after{
	content:'';
	position:absolute;
	width:50%;
	height:100%;
	-moz-box-shadow:0 2px 2px rgba(26,53,71,0.25),0 0 0 1px rgba(26,53,71,0.07);
	-webkit-box-shadow:0 2px 2px rgba(26,53,71,0.25),0 0 0 1px rgba(26,53,71,0.07);
	box-shadow:0 2px 2px rgba(26,53,71,0.25),0 0 0 1px rgba(26,53,71,0.07);
	cursor:pointer;
	background-color:#FFF;
	transition:all 0.1s ease-in .1s;
	left:0px;
	top:0px;
}
.codedaoToggle.codedaoToggleOff{
	background-color:#3672A0;
}
.codedaoToggle.codedaoToggleOff:before{
	content:'ON';
	position:absolute;
	color:#FFF;
	top:5%;
	left:10%;
	font-size:11px;
	text-shadow:0 1px rgba(255,255,255,0.5);
	text-align:left;
}
.codedaoToggle.codedaoToggleOff:after{
	left:31px;
}
/*end on-off*/
@media (max-width: 767px) {
  .set-lang-info {
    /*height: 80px!important;*/
    text-align: center!important;
  }
}



/*=========================================*/


/* Buttons
================================================== */



 .title h6 {
	float: left;
	white-space:nowrap;
	font-size: 12px;
	font-weight: bold;
	padding: 9px 12px 8px 12px;
}
.lang_hidden{ display: none;}
.lang_hidden.active{ display: block;}
.chonngonngu ul{
	margin: 0px!important;
	padding: 0px!important;
}
