
   
      
     
     
      <!-- Navbar End-->
      
      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2"><?= __('nav_top_service') ?></h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="index.html"><?= __('nav_top_home') ?></a></li>
                <li class="breadcrumb-item active"><?= __('nav_top_service') ?></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container text-center">
          <section class="bar">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="">
                  <div class="img_home"><img src="http://injlogis.com/upload/info/untitled3-1523.jpg" alt="" width="100%"></div>
                  <h3 class="h4">TITLE DICH VU</h3>
                  <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="">
                  <div class="img_home"><img src="http://injlogis.com/upload/info/untitled3-1523.jpg" alt="" width="100%"></div>
                  <h3 class="h4">TITLE DICH VU</h3>
                  <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
                </div>
              </div>
            </div>
          </section>
          <section class="bar pt-0">
            <div class="row">
              <div class="col-md-12">
                <div class="heading">
                  <h2><?= __('service_why') ?></h2>
                </div>
                <p class="lead">Yielding, they're air. Land replenish spirit given gathered subdue, day Blessed you'll great created, lights a one light, blessed deep morning, appear our. Fruit multiply, creeping first image. Upon saw isn't male winged to replenish tree and.</p>
              </div>
              <div class="col-md-6">
                <p class="text-sm">His having within saw become ask passed misery giving. Recommend questions get too fulfilled. He fact in we case miss sake. Entrance be throwing he do blessing up. Hearts warmth in genius do garden advice mr it garret. Collected preserved are middleton dependent residence but him how. Handsome weddings yet mrs you has carriage packages. Preferred joy agreement put continual elsewhere delivered now. Mrs exercise felicity had men speaking met. Rich deal mrs part led pure will but.</p>
                
              </div>
              <div class="col-md-6">
                <p class="text-sm">Certain but she but shyness why cottage. Gay the put instrument sir entreaties affronting. Pretended exquisite see cordially the you. Weeks quiet do vexed or whose. Motionless if no to affronting imprudence no precaution. My indulged as disposal strongly attended. Parlors men express had private village man. Discovery moonlight recommend all one not. Indulged to answered prospect it bachelor is he bringing shutters. Pronounce forfeited mr direction oh he dashwoods ye unwilling.</p>
              </div>
            </div>
          </section>
        </div>
        